.bug{
    border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 100px auto auto auto;

}

.code{
    border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 100px auto auto auto;

}


.phone{
    border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 100px auto 25px 30px;
}
