.bug{
  height: 200px;
  width: 200px;
  margin: 100px auto auto auto;
  border-radius: 50%;
}

.code{
  height: 200px;
  width: 200px;
  margin: 100px auto auto auto;
  border-radius: 50%;
}


.phone{
  height: 200px;
  width: 200px;
  margin: 100px auto auto auto;
  border-radius: 50%;
}
