.bug{
  height: 100px;
  width: 100px;
  margin: 100px auto auto auto;
}

.code{
  height: 100px;
  width: 100px;
  margin: 100px auto auto auto;
}


.phone{
  height: 100px;
  width: 100px;
  margin: 100px auto auto auto;
}
